### 0. Loading dependencies

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as scipy
import statsmodels.formula.api as smf
import random
import plotly.graph_objects as go
import plotly.express as px
from scipy.stats import iqr
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from statsmodels.tools.eval_measures import rmse
import warnings
# String styling
class color:
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

### 1.1 Data Preparation: Data Cleaning, Relabeling, Wrangling and splitting subset.

In [2]:
#Fill Nan values is salary column
df_salary = pd.read_csv('dataset/salary.csv')
df_salary = df_salary.fillna(df_salary.salary.mean())

#Rename as per metadata
df_salary =df_salary.rename(columns ={'male':'gender', 'experior':'Experience', 'yearsabs':'years_absent'})
df_salary.gender = ['male' if i == 1 else 'female' for i in df_salary.gender]

df_salary.position = ['Jnr_employee' if i == 1 else 'Manager' if  i == 2 
                      else 'Executive' for i in df_salary.position]

df_salary.Field = ['Engineering' if i == 1 else 'Finance' if i == 2
                   else 'Human Resource' if i == 3 else 'Marketing' 
                   for i in df_salary.Field]    
df_salary = pd.DataFrame(df_salary)
df_salary.head()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,gender,Field,years_absent
0,53000.0,0,0,0,1.17,1,0,Jnr_employee,male,Human Resource,0
1,58000.0,1,0,0,1.24,1,0,Jnr_employee,male,Finance,0
2,45500.0,0,0,0,1.21,1,0,Jnr_employee,male,Human Resource,2
3,35782.0,0,2,1,0.99,1,0,Jnr_employee,male,Marketing,1
4,34731.0,0,2,2,0.91,1,0,Jnr_employee,male,Marketing,1

In [3]:
#Splitting the data into df_train train and test set

df_train, df_test = train_test_split(df_salary, test_size=0.2, random_state=42)
df_train.head()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,gender,Field,years_absent
320,80137.00000,5,21,20,1.04,1,0,Executive,male,Finance,0
329,39777.00000,10,17,10,0.86,1,0,Manager,male,Human Resource,1
173,61453.00000,0,15,0,1.21,1,0,Manager,male,Engineering,0
272,53665.00000,0,25,12,0.92,1,0,Executive,male,Engineering,0
493,44410.85547,7,12,10,0.72,1,0,Manager,female,Human Resource,51

## Analyze relationships

In [ ]:
sns.pairplot(df_train)
plt.show()

## Checking and handling outliers

In [ ]:
# Quartiles and IQR:df_train
q75_train, q25_train = np.percentile(df_train['salary'], [75 ,25])
iqr_train = q75_train - q25_train

# Extremes' boundaries: df_train
lower_bound = q25_train - iqr_train*1.5
upper_bound = q75_train + iqr_train*1.5

#Determining if an entry is an extreme or an outlier:df_train
df_train['Is_it_an_extreme'] = ['Yes' if i < lower_bound else 'Yes' 
                                if i > upper_bound else "No" 
                                for i in df_train.salary]
df_outliers = df_train[df_train.Is_it_an_extreme == 'Yes']

#Dropping outliers
df_train = df_train[df_train.Is_it_an_extreme != 'Yes']

#df_train descriptive statistics
# df_train.describe()

### 2. Hot encoding Dummy variables for Field variable with Human Resource, Position with Executive and Gender with Females as references respectively

In [ ]:
df_dummies =pd.get_dummies(df_train.Field).loc[:,['Engineering','Finance','Marketing']]
df_dummies1 =pd.get_dummies(df_train.position).loc[:,['Jnr_employee','Manager']]
df_dummies2 =pd.get_dummies(df_train.gender).loc[:,['male']]

df_train = df_train.join(df_dummies)
df_train = df_train.join(df_dummies1)
df_train = df_train.join(df_dummies2)

df_dummies3 =pd.get_dummies(df_test.Field).loc[:,['Engineering','Finance','Marketing']]
df_dummies4 =pd.get_dummies(df_test.position).loc[:,['Jnr_employee','Manager']]
df_dummies5 =pd.get_dummies(df_test.gender).loc[:,['male']]
df_test = df_test.join(df_dummies3)
df_test = df_test.join(df_dummies4)
df_test = df_test.join(df_dummies5)

### 3. correlation matrix comparing the relationship of salary to the predictor variables

In [ ]:
df_train.corr(method='pearson').head(1)

### Is there any multicollinearity or other problems that may be a problem in the multiple regression

What the regression model is going to do is to disentangle the individual effects of years worked and years rank on salary. Given the opportunity that the regression model does tease apart these individual effects, such individual effects become obscured. Multicolinearity happens when the X variables are themselves related.

This is a perfect description for multicolinearity, if **one year a experience is added**, the likelihood that one stays in that **rank for one more year** is close to 100%, similarly with **market value**, it is common knowledge that years of experience do actually increase the market value of an individual, so the regression model will have a very unrealistic way of analysing if the effect on salary was due to an increase in market value or due to one more year of experience or one more year of being in that particular rank. Therefore, drop years worked and years absent(the former because it is highly correlated with male but not with salary

### 4. Model creation of salary prediction based on multivariables

In [ ]:
import statsmodels.formula.api as smf
# create a fitted model: salary vs Years worked _ Market + Years Rank
variables = ['yearsworked' ,'market' ,'yearsrank','Engineering','Finance' ,'Marketing' ,'Jnr_employee', 'Manager']
model= smf.ols(formula='salary ~ yearsworked + market + yearsrank+ Engineering + Finance + Marketing +Jnr_employee + Manager', data=df_train).fit()
print(color.BOLD + "This model has a higher R-squared (0.816) than the previous model's(0.708), This model provides a better fit to the data than a model that only one variable years worked")
model.summary()

### Model Evaluation

In [ ]:
#model1: predict salary using years worked
df_train1 = model.predict(df_train)
df_train1 = pd.DataFrame(df_train1)

#Mapping 2 columns: Observed salary together with Predicted salary
df_train1['Actual Salary'] = df_train['salary']
df_train1= df_train1.rename(columns={0:'Predicted Salary'})
df_train1['Actual Salary'] = df_train1['Actual Salary'].astype(float)
df_train1['Predicted Salary'] = df_train1['Predicted Salary'].astype(float)

### 5.1 Residuals

In [ ]:
#Creating a residual column( a residual vertical distance between a data point and the regression line)
df_train1['Residual'] = (df_train1['Actual Salary'] - df_train1['Predicted Salary'])

#calculating the RMSE
from sklearn.metrics import mean_squared_error
from math import sqrt
y_actual1 = df_train1['Actual Salary']
y_predicted1 = df_train1['Predicted Salary']
rmse_train = rmse(df_train.salary, model.predict(df_train[variables]))
rmse_test = rmse(df_test.salary, model.predict(df_test[variables]))
# train_rmse = rmse(df_train.salary, model.predict(df_train[variables]))
# test_rmse = rmse(df_test.salary, model.predict(df_test[variables]))
#standardizing residuals
#Standardized residual = (observed count – expected count) / √expected count
df_train1['Standardised Residuals'] = df_train1.Residual/rmse_train
df_risid_fit = df_train1.loc[:,['Residual','Standardised Residuals','Actual Salary','Predicted Salary']]
df_risid_fit

## Residual plot

In [ ]:
px.scatter(data_frame=df_risid_fit
           , y='Residual'
           , x='Predicted Salary'
           , color="Actual Salary"
           , title='Residuals versus Predicted Salary'
           , marginal_y='histogram'
           , opacity=0.2
           , template='seaborn'
          )

Data points are pretty symmetrically distributed, tending to cluster towards the middle of the plot and  they’re clustered around y = 0 showing no patterns

### 7. Running the model on the test set

In [ ]:
# Quartiles and IQR:df_test
q75_test, q25_test = np.percentile(df_test['salary'], [75 ,25])
iqr_test = q75_test - q25_test

# Extremes' boundaries: df_test
test_lower_bound = q25_test - iqr_test*1.5
test_upper_bound = q75_test + iqr_test*1.5

#Determining if an entry is an extreme or an outlier:df_test
df_test['Is_it_an_extreme'] = ['Yes' if i < test_lower_bound else 'Yes'
                               if i > test_upper_bound else "No"
                               for i in df_test.salary]
df_test_outliers = df_test[df_test.Is_it_an_extreme == 'Yes']

#Dropping outliers
df_test = df_test[df_test.Is_it_an_extreme != 'Yes']

In [ ]:
#model1: predict salary using years worked
model1= smf.ols(formula='salary ~ yearsworked + market + yearsrank+ Engineering + Finance + Marketing +Jnr_employee + Manager', data=df_test).fit()

df_test1 = model1.predict(df_test)
df_test1 = pd.DataFrame(df_test1)

#Mapping 2 columns: Observed salary together with Predicted salary
df_test1['Actual Salary'] = df_test['salary']
df_test1= df_test1.rename(columns={0:'Predicted Salary'})
df_test1['Actual Salary'] = df_test1['Actual Salary'].astype(float)
df_test1['Predicted Salary'] = df_test1['Predicted Salary'].astype(float)

#Creating a residual column( a residual vertical distance between a data point and the regression line)
df_test1['Residual'] = (df_test1['Actual Salary'] - df_test1['Predicted Salary'])

#standardizing residuals
#Standardized residual = (observed count – expected count) / √expected count
df_test1['Standardised Residuals'] = df_test1.Residual/rmse_test

### 7.1 RMSE Evals

In [ ]:
print('The RMSE of the train data is: ',rmse_train)
print('And The RMSE of the test data is: ',rmse_test,'which shows little evidence of underfitting nor underfitting')
print('After such evidence, it is safe to conclude that this is a good model to predict salary.')

## Insight

With the assumptions of linear regression met, it is safe to say that the variables are good predictors of salary.

# OOP for Data Science

It is efficient to put machine learning models and other data science techniques into classes so that we can reuse them later and change attributes without changing the code behind these models. Independent concepts can also be put into independent classes: for example, the functioning of a cross-validate class should not affect the functioning of a linear regression class.

The classes below illustrate the above concept in it that, this will not only help us compute all that we have done thus far with effeciency but because they can be reused and are designed components that are self-contained.

In [ ]:
df_train1 = df_train1.rename(columns={'Residual': 'Residuals', 
                                      'Actual Salary': 'y','Predicted Salary':'y_pred',
                                      'Standardised Residuals':'Stand_Resid'})
df_train1

In [ ]:
# Class: ErrorCalculator 
class ErrorCalculator:

    def __init__(self, y, y_pred):

        self.y          =   np.array(y)       
        self.y_pred     =   np.array(y_pred)  


    def get_residuals(self):

        residuals = self.y  - self.y_pred
        return residuals

    def get_standardised_residuals(self):

        standardised_residuals = self.get_residuals() / (self.get_residuals()/std())
        return standardised_residuals

    def get_mse(self):

        mse = np.square(np.subtract(self.y, self.y_pred)).mean()
        return mse

    def get_rmse(self):

        rmse = np.sqrt(((self.y_pred - self.y)**2).mean())
        return rmse

    def error_summary(self):
        min_standard = min(self.Standard)
        max_standard = max(self.Standard)
        min_rmse = min(self.rmse)
        max_rmse = max(self.rmse)
        mse_min = min(self.mse)
        mse_max = max(self.mse)
        print(f'standard residual: {min_standard}')
        print(f'standard residual: {max_standard}')
        print(f'min rmse: {min_rmse}')
        print(f'max rmse: {max_rmse}')

In [ ]:
#Class: Plotter
class Plotter():
    def __init__(self,y_test,y_pred):
        self.y_test = y_test
        self.ypred = y_pred
    
    def run_calculations(self):
        return self.y_test - self.y_pred
    
    def plot(self):
        plt.hist(self.y_test - self.ypred)
        plt.title('Residuals Plot for predictions')
        plt.xlabel('Residuals')
        plt.ylabel('Frequency')
        return plt.show()

In [ ]:
# Class:  histogram plotter
class HistogramPlotter(Plotter):
    def __init__(self, y_test,y_pred):
        Plotter.__init__(self, y_test, y_pred)

In [ ]:
class ScatterPlotter(Plotter):
    def __init__(self, y_test, y_pred):
        Plotter.__init__(self, y_test, y_pred)

    def plot(self):
        chart = pd.DataFrame({"y_test": self.y_test, "y_prediction": self.y_pred})
        chart.plot.scatter(x="y_test", y="y_prediction", c="DarkBlue")
        plt.title("Prediction vs Actual values")
        plt.xlabel("Actual")
        plt.ylabel("Prediction")
        return plt.show()

## Model 1

In [ ]:

df_dummies =pd.get_dummies(df_salary.Field)
df_dummies1 =pd.get_dummies(df_salary.position)
df_dummies2 =pd.get_dummies(df_salary.gender)
original = df_salary.loc[:,['salary','exprior','yearsworked','yearsrank','market','degree','otherqual']]
df_salary1 = pd.concat([original, df_dummies, df_dummies1,df_dummies2] ,axis=1)
df_salary1 =df_salary1.rename(columns ={'Human Resource':'HR'})
df_salary1 = df_salary1.drop(['HR', 'Executive'], axis=1)
df_salary2 = df_salary1.copy()
df_salary1

In [ ]:
# Split
X_train, X_test, y_train, y_test = train_test_split(df_salary1.drop(labels=["salary"], axis=1),
                                                    df_salary["salary"],
                                                    test_size = 0.3,
                                                    random_state = 42)

In [ ]:
# create a fitted model: salary vs Years worked _ Market + Years Rank
model_1= smf.ols(formula='salary ~ yearsworked + market + yearsrank + Finance + Marketing +Jnr_employee + Manager', data=df_salary1).fit()
model.summary()

## Model 2

In [ ]:
# Split
X_train2, X_test2, y_train2, y_test2 = train_test_split(df_salary2.drop(labels=["salary"], axis=1),
                                                    df_salary2["salary"],
                                                    test_size = 0.3,
                                                    random_state = 42)
# create a fitted model: salary vs Years worked _ Market + Years Rank
model_2= smf.ols(formula='salary ~ yearsworked + market + yearsrank+ Finance + Marketing +Jnr_employee + Manager', data=df_salary2).fit()
model_2.summary()

In [ ]:
#error calculator
error_model1 = ErrorCalculator(y_test, model.predict(sm.add_constant(X_test)))
error_model2 = ErrorCalculator(y_test2, model_2.predict(sm.add_constant(X_test2)))

# MSE 
print("1st model MSE:  {}".format(error_model1.get_mse()))
print("2nd model MSE:  {}".format(error_model2.get_mse()))

In [ ]:
# RMSE
print("1st model RMSE:  {}".format(error_model1.get_rmse()))
print("2nd model RMSE:  {}".format(error_model2.get_rmse()))

In [ ]:
#Model 1 plotting graphs
model1_plot = HistogramPlotter(y_test, model.predict(sm.add_constant(X_test)))
model1_scatter = ScatterPlot(y_test, model.predict(sm.add_constant(X_test)))
# Mode1 Histogram Plot
model1_plot.plot()